body {
    font-family: Sansation;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #f7f7f7;
}
span {
    margin: 0;
    text-transform: uppercase;
}
