@import '../../tools/displays.scss';
@import '../../settings/color.scss';
@import '../../tools/tools.bgi_creater.scss';

.header__container{
    width: 100%;
    height: 552px;
    @include bgi_creater('../../../../img/ap-ui123.png',center,'');
    .main__header{
        height: 60px;
        padding-left: 30px;
        @include flex_creater(space-between,center);
        .header__logo{
            font-size: 24px;
            .header__logo__GO{
                color: $logo_color_GO;
            }
        }
        .header__hrefs{
            width: 637px;
            @include flex_creater(space-around,center);
            .header__href:hover{                
                color:$primary-hover;
            }
            .header__href{
                transition: 0.2s;
                text-decoration: none;
                color: $header_hrefs;
                font-size: 20px;
            }
        }         
        .header__socNet{
            width: 125px;
            @include flex_creater(space-around,center);           
            padding-right: 40px;
        }
    }
    .main__slider{

    }
}