* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sansation',Arial, Helvetica, sans-serif;
}

.block__357 {
  font-family: "Sansation", Areal, sans-serif;
  font-size: 40px;
  text-align: left;
  width: 100%;
  height: 139px;
  background-color: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__357 .block__357__container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block__357 .block__357__container .horizontLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
  height: 3px;
}

.block__357 .block__357__container .horizontLine .innerBig {
  width: 72px;
  height: 100%;
  background-color: #fff;
}

.block__357 .block__357__container .horizontLine .innerSmall {
  width: 233px;
  height: 1px;
  background-color: #fff;
}

.ourService__slider__blocks {
  position: relative;
  width: 100%;
  height: 556px;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourService__slider__blocks .ourService__nextPrev__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourService__slider__blocks .ourService__nextPrev__btn .slider__btn {
  width: 32px;
  height: 32px;
  background-color: #089eac;
}

.ourService__slider__blocks .ourService__nextPrev__btn .prevBtn {
  background-image: url("https://img.icons8.com/ios/50/000000/less-than.png");
  background-position: center;
  background-size: 38px;
}

.ourService__slider__blocks .ourService__nextPrev__btn .nextBtn {
  background-image: url("https://img.icons8.com/ios/50/000000/more-than.png");
  background-position: center;
  background-size: 38px;
  margin-left: 1px;
}

.ourService__slider__blocks .slider__block {
  height: 100%;
  width: 333px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ourService__slider__blocks .slider__block .slider__block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 299px;
  font-size: 14px;
  line-height: 1.29;
}

.ourService__slider__blocks .slider__block .slider__block__content .span {
  font-size: 24px;
  line-height: 1.08;
  font-weight: 550;
  padding-top: 55px;
  padding-bottom: 20px;
}

.ourService__slider__blocks .slider__block .slider__block__content .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 29px;
  font-size: 12px;
  width: 140px;
  height: 28px;
  border-radius: 2px;
  background-color: #959595;
}

.ourService__slider__blocks .slider__block:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #097e89;
}

.ourService__slider__blocks .block2 {
  width: 334px;
}

.header__container {
  width: 100%;
  height: 552px;
  background-image: url("../../../../img/ap-ui123.png");
  background-position: center;
  background-size: "";
}

.header__container .main__header {
  height: 60px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .main__header .header__logo {
  font-size: 24px;
}

.header__container .main__header .header__logo .header__logo__GO {
  color: #da2346;
}

.header__container .main__header .header__hrefs {
  width: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .main__header .header__hrefs .header__href:hover {
  color: #097e89;
}

.header__container .main__header .header__hrefs .header__href {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.header__container .main__header .header__socNet {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
}

.o-container {
  max-width: 1000px;
  max-height: 3000px;
  margin: 0 auto;
}

body {
  font-family: Sansation;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #f7f7f7;
}

span {
  margin: 0;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Sansation';
  src: url("../../../fonts/sansation/Sansation_Regular.ttf") format("truetype");
}
/*# sourceMappingURL=main.css.map */